html,body{padding:0;margin: 0;}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:blue;
}

header{
  text-align: center;
  font-size: 36px;
  background: blue;
  color: white;
  padding: 15px 0;
}

figure{
  text-align: center;
  padding: 30px 0;
}

figcaption{font-size: 30px;color: red;margin-top: 20px;}

img{
  width: 200px;
}
